body {
  width: 1240px;
  background-color:black;
  color: seashell;
  opacity: 0.9;
  font-family: Helvetica;
  font-size: 22px;
  margin: auto;
  text-align: center;
  
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 69px;
  border-bottom: 1px solid seashell;
}

.container .logo {
  padding: 9.5px 0 9.5px 10px;
}

.container .nav {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.container .nav li {
  margin-left: 0;
  padding-left: 15px;
  text-decoration: underline;
}
.main {
 margin: 0 20px;
 display: flex;
 flex-direction: column;
 justify-content: center;

}
.main .banner {
  background-image: url("./images/img-mission-background.jpg");
  width: 1200px;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main .banner .headlines {
  text-align: center;
  background-color: black;
  width: 100%;
}

.main .examples {
  margin: 40px 110px;
}
.main .examples .img-examples {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.img-examples figure {
  margin: 0;
  padding: 10px 12px;
}

.main .locations {
  background-image: url("./images/img-locations-background.jpg");
  width: 1200px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main .locations .blocks {
  display: flex;
  justify-content: center;
}
.locations .blocks, .locations .heading {
  position: relative;
  bottom: 50px;  
}
.locations .heading, .block-location {
  margin-right: 20px
}
.block-location {
  display: block;
  background-color: black;
  opacity: 1;
  width: 300px;
  padding: 20px 10px;
}

.footer {
  text-align: left;
  font-size: 0.8em;
  margin-left: 20px;
}



